/*Style to fix the issue of text extending past panel length*/
.panel-body a {
      word-break: break-all;
    }
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
height: 700px;
position:fixed;
bottom: 0;
right: 0;
}

#header {
	background-color: #4f0240;
	background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}

#logo {
	text-align: center;
	margin-top: 25px;
}

h1 {
	color: white;
	font-family:'Pacifico', cursive;
}

h2 {
	color:white;
    font-family:'Gochi Hand', cursive;
    text-align: center;
}

.center {
	float: none;
	margin: 10px auto;
}
.form-inline {
	float: none;
	margin: auto;

}

.form-group {
	color: white;
	padding: 0 20px;
}

#search_parameters {
	float: none;
	margin: 10px auto;
}

#zipcode {
	width: 100px;
}
#radius {
	width: 80px;
}


.btn {
	margin: 0 15px;
}

.col-md-6 {
	margin: 20px auto;
}

#content {
    background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

#results_title {
	background-color: #4f0240;
	background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}
.panel-body {
	height: 700px;
	overflow:scroll;
	background-color: #a3eb9f;
background-image: url("https://www.transparenttextures.com/patterns/food.png");
	
}

/*.well {
	color: white;
	background-color: #4f2946;
	background-image: url("https://www.transparenttextures.com/patterns/food.png");
}*/


#footer {
	background-color: #4f0240;
	background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
	/*position: absolute;*/
    bottom: 0;
    width: 100%;
	padding: 10px;
}